[flake8]
max-complexity = 10
import-order-style = pycharm
max-line-length = 119

ignore =
  D100,
  W503,
  W504,

per-file-ignores =
  __init__.py:

exclude =
  ./.git,
  ./static,
  */migrations/*,

